
.cbbf1ac16b228 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbbf1ac16b228 > .orig {
    user-select: none;
    pointer-events: none;
}
.cbbf1ac16b228 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cda7571c48b97 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cda7571c48b97 > .orig {
    user-select: none;
    pointer-events: none;
}
.cda7571c48b97 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c85518b582367 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c85518b582367 > .orig {
    user-select: none;
    pointer-events: none;
}
.c85518b582367 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5c577bede680 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5c577bede680 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5c577bede680 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2d4aa9e52e5a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2d4aa9e52e5a > .orig {
    user-select: none;
    pointer-events: none;
}
.c2d4aa9e52e5a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1c9ebe799d97 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1c9ebe799d97 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1c9ebe799d97 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c130b8db68cad {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c130b8db68cad > .orig {
    user-select: none;
    pointer-events: none;
}
.c130b8db68cad > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce6f76be7f5fc {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce6f76be7f5fc > .orig {
    user-select: none;
    pointer-events: none;
}
.ce6f76be7f5fc > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cde44bae8b879 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cde44bae8b879 > .orig {
    user-select: none;
    pointer-events: none;
}
.cde44bae8b879 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb0a681a34854 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb0a681a34854 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb0a681a34854 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb5471253219b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb5471253219b > .orig {
    user-select: none;
    pointer-events: none;
}
.cb5471253219b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}