
.c3bf6d873d216 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3bf6d873d216 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3bf6d873d216 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cbc886a1b687b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbc886a1b687b > .orig {
    user-select: none;
    pointer-events: none;
}
.cbc886a1b687b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb433910e2833 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb433910e2833 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb433910e2833 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb32d95e5d641 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb32d95e5d641 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb32d95e5d641 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c78dd51a405d6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c78dd51a405d6 > .orig {
    user-select: none;
    pointer-events: none;
}
.c78dd51a405d6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc179472a2e6b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc179472a2e6b > .orig {
    user-select: none;
    pointer-events: none;
}
.cc179472a2e6b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c4cde8fadd735 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c4cde8fadd735 > .orig {
    user-select: none;
    pointer-events: none;
}
.c4cde8fadd735 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1d7ac173e386 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1d7ac173e386 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1d7ac173e386 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb75d051933fd {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb75d051933fd > .orig {
    user-select: none;
    pointer-events: none;
}
.cb75d051933fd > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cea27b927dd31 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cea27b927dd31 > .orig {
    user-select: none;
    pointer-events: none;
}
.cea27b927dd31 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c78274421b0a9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c78274421b0a9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c78274421b0a9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c89fbeb902f98 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c89fbeb902f98 > .orig {
    user-select: none;
    pointer-events: none;
}
.c89fbeb902f98 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}