
.c66a52dda6076 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c66a52dda6076 > .orig {
    user-select: none;
    pointer-events: none;
}
.c66a52dda6076 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1f9a48256db0 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1f9a48256db0 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1f9a48256db0 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c08484a13d256 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c08484a13d256 > .orig {
    user-select: none;
    pointer-events: none;
}
.c08484a13d256 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c995ccd19fb9d {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c995ccd19fb9d > .orig {
    user-select: none;
    pointer-events: none;
}
.c995ccd19fb9d > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c77965e07bc8a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c77965e07bc8a > .orig {
    user-select: none;
    pointer-events: none;
}
.c77965e07bc8a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce3c7a45f7848 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce3c7a45f7848 > .orig {
    user-select: none;
    pointer-events: none;
}
.ce3c7a45f7848 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ccb3fece885c6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ccb3fece885c6 > .orig {
    user-select: none;
    pointer-events: none;
}
.ccb3fece885c6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5f87727b165d {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5f87727b165d > .orig {
    user-select: none;
    pointer-events: none;
}
.c5f87727b165d > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2eacc76f0dcc {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2eacc76f0dcc > .orig {
    user-select: none;
    pointer-events: none;
}
.c2eacc76f0dcc > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c459642ff2de4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c459642ff2de4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c459642ff2de4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c52ce0d77acc4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c52ce0d77acc4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c52ce0d77acc4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c25082f56d0d8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c25082f56d0d8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c25082f56d0d8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}