
.c2116919947ed {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2116919947ed > .orig {
    user-select: none;
    pointer-events: none;
}
.c2116919947ed > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c95a0d828783f {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c95a0d828783f > .orig {
    user-select: none;
    pointer-events: none;
}
.c95a0d828783f > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ced7b6a542746 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ced7b6a542746 > .orig {
    user-select: none;
    pointer-events: none;
}
.ced7b6a542746 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c826d28d6a6e4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c826d28d6a6e4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c826d28d6a6e4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf3c2f2ab8c61 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf3c2f2ab8c61 > .orig {
    user-select: none;
    pointer-events: none;
}
.cf3c2f2ab8c61 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c70c27a9bcfc9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c70c27a9bcfc9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c70c27a9bcfc9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2247613b5756 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2247613b5756 > .orig {
    user-select: none;
    pointer-events: none;
}
.c2247613b5756 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c538021f9f1aa {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c538021f9f1aa > .orig {
    user-select: none;
    pointer-events: none;
}
.c538021f9f1aa > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf508427974d9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf508427974d9 > .orig {
    user-select: none;
    pointer-events: none;
}
.cf508427974d9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ca64d29b69c81 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ca64d29b69c81 > .orig {
    user-select: none;
    pointer-events: none;
}
.ca64d29b69c81 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1a3380e44755 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1a3380e44755 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1a3380e44755 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}