
.c73a134a6b10c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c73a134a6b10c > .orig {
    user-select: none;
    pointer-events: none;
}
.c73a134a6b10c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5714c230e516 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5714c230e516 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5714c230e516 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c20c74200bdd6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c20c74200bdd6 > .orig {
    user-select: none;
    pointer-events: none;
}
.c20c74200bdd6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf3d45d0dd0a2 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf3d45d0dd0a2 > .orig {
    user-select: none;
    pointer-events: none;
}
.cf3d45d0dd0a2 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb0c2ae4c55f0 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb0c2ae4c55f0 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb0c2ae4c55f0 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c29ec67f709dc {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c29ec67f709dc > .orig {
    user-select: none;
    pointer-events: none;
}
.c29ec67f709dc > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1bd87cd3b3aa {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1bd87cd3b3aa > .orig {
    user-select: none;
    pointer-events: none;
}
.c1bd87cd3b3aa > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3610068d0ded {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3610068d0ded > .orig {
    user-select: none;
    pointer-events: none;
}
.c3610068d0ded > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c205a61a882f3 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c205a61a882f3 > .orig {
    user-select: none;
    pointer-events: none;
}
.c205a61a882f3 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0dd26d865e18 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0dd26d865e18 > .orig {
    user-select: none;
    pointer-events: none;
}
.c0dd26d865e18 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5eecfb1a78d7 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5eecfb1a78d7 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5eecfb1a78d7 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}