
.c06faddc731d5 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c06faddc731d5 > .orig {
    user-select: none;
    pointer-events: none;
}
.c06faddc731d5 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce67a8936849f {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce67a8936849f > .orig {
    user-select: none;
    pointer-events: none;
}
.ce67a8936849f > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c4f12395c1729 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c4f12395c1729 > .orig {
    user-select: none;
    pointer-events: none;
}
.c4f12395c1729 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cbb349ff591f6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbb349ff591f6 > .orig {
    user-select: none;
    pointer-events: none;
}
.cbb349ff591f6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb7e54389f167 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb7e54389f167 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb7e54389f167 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb8750313518b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb8750313518b > .orig {
    user-select: none;
    pointer-events: none;
}
.cb8750313518b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c4b6ee7dd4167 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c4b6ee7dd4167 > .orig {
    user-select: none;
    pointer-events: none;
}
.c4b6ee7dd4167 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce9ab2a9f9bee {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce9ab2a9f9bee > .orig {
    user-select: none;
    pointer-events: none;
}
.ce9ab2a9f9bee > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c37438c69ffb7 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c37438c69ffb7 > .orig {
    user-select: none;
    pointer-events: none;
}
.c37438c69ffb7 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c9078b7cfbd04 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c9078b7cfbd04 > .orig {
    user-select: none;
    pointer-events: none;
}
.c9078b7cfbd04 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5c4f1212165d {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5c4f1212165d > .orig {
    user-select: none;
    pointer-events: none;
}
.c5c4f1212165d > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c7bca57544755 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c7bca57544755 > .orig {
    user-select: none;
    pointer-events: none;
}
.c7bca57544755 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}