
.cbc8187a97c01 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbc8187a97c01 > .orig {
    user-select: none;
    pointer-events: none;
}
.cbc8187a97c01 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc9b003b48434 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc9b003b48434 > .orig {
    user-select: none;
    pointer-events: none;
}
.cc9b003b48434 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc3908c58b2eb {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc3908c58b2eb > .orig {
    user-select: none;
    pointer-events: none;
}
.cc3908c58b2eb > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c89fef142bd0c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c89fef142bd0c > .orig {
    user-select: none;
    pointer-events: none;
}
.c89fef142bd0c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2b592f0c6d23 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2b592f0c6d23 > .orig {
    user-select: none;
    pointer-events: none;
}
.c2b592f0c6d23 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf605f8f2bd1e {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf605f8f2bd1e > .orig {
    user-select: none;
    pointer-events: none;
}
.cf605f8f2bd1e > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3c85b7b19ed5 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3c85b7b19ed5 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3c85b7b19ed5 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3e57342adc54 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3e57342adc54 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3e57342adc54 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf595f62441eb {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf595f62441eb > .orig {
    user-select: none;
    pointer-events: none;
}
.cf595f62441eb > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3e9e99ce7d71 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3e9e99ce7d71 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3e9e99ce7d71 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3165c61a8bf6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3165c61a8bf6 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3165c61a8bf6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc733894333d2 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc733894333d2 > .orig {
    user-select: none;
    pointer-events: none;
}
.cc733894333d2 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}