
.c21dd66b78db1 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c21dd66b78db1 > .orig {
    user-select: none;
    pointer-events: none;
}
.c21dd66b78db1 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cab84593459b3 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cab84593459b3 > .orig {
    user-select: none;
    pointer-events: none;
}
.cab84593459b3 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce239cea06cec {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce239cea06cec > .orig {
    user-select: none;
    pointer-events: none;
}
.ce239cea06cec > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c29f8eeae6d68 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c29f8eeae6d68 > .orig {
    user-select: none;
    pointer-events: none;
}
.c29f8eeae6d68 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c882a6bf704f3 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c882a6bf704f3 > .orig {
    user-select: none;
    pointer-events: none;
}
.c882a6bf704f3 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3013309d24ec {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3013309d24ec > .orig {
    user-select: none;
    pointer-events: none;
}
.c3013309d24ec > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c37f11ffea041 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c37f11ffea041 > .orig {
    user-select: none;
    pointer-events: none;
}
.c37f11ffea041 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cccbd003ed105 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cccbd003ed105 > .orig {
    user-select: none;
    pointer-events: none;
}
.cccbd003ed105 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c9ed56891a784 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c9ed56891a784 > .orig {
    user-select: none;
    pointer-events: none;
}
.c9ed56891a784 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3ec671ed2d0a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3ec671ed2d0a > .orig {
    user-select: none;
    pointer-events: none;
}
.c3ec671ed2d0a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c3a8fac4abed6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3a8fac4abed6 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3a8fac4abed6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1005471c88b6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1005471c88b6 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1005471c88b6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}