
.c00fdbca94d82 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c00fdbca94d82 > .orig {
    user-select: none;
    pointer-events: none;
}
.c00fdbca94d82 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c8b29ec6fd148 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c8b29ec6fd148 > .orig {
    user-select: none;
    pointer-events: none;
}
.c8b29ec6fd148 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c954f08bed33b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c954f08bed33b > .orig {
    user-select: none;
    pointer-events: none;
}
.c954f08bed33b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c89039985bb3b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c89039985bb3b > .orig {
    user-select: none;
    pointer-events: none;
}
.c89039985bb3b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c503c6932f26e {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c503c6932f26e > .orig {
    user-select: none;
    pointer-events: none;
}
.c503c6932f26e > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.caec216171a25 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.caec216171a25 > .orig {
    user-select: none;
    pointer-events: none;
}
.caec216171a25 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdf2ba7b14a48 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdf2ba7b14a48 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdf2ba7b14a48 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c60d7dbbb4926 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c60d7dbbb4926 > .orig {
    user-select: none;
    pointer-events: none;
}
.c60d7dbbb4926 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb9d24f6b1b84 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb9d24f6b1b84 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb9d24f6b1b84 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c121c0b72a6c9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c121c0b72a6c9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c121c0b72a6c9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c7eb0adb7f1c9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c7eb0adb7f1c9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c7eb0adb7f1c9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}