
.c4b3b9b63fbdd {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c4b3b9b63fbdd > .orig {
    user-select: none;
    pointer-events: none;
}
.c4b3b9b63fbdd > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd664e43f07d0 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd664e43f07d0 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd664e43f07d0 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cbb0402d7dda9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbb0402d7dda9 > .orig {
    user-select: none;
    pointer-events: none;
}
.cbb0402d7dda9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cadaa6321d616 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cadaa6321d616 > .orig {
    user-select: none;
    pointer-events: none;
}
.cadaa6321d616 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c686712a46f8a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c686712a46f8a > .orig {
    user-select: none;
    pointer-events: none;
}
.c686712a46f8a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c97d494c48fef {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c97d494c48fef > .orig {
    user-select: none;
    pointer-events: none;
}
.c97d494c48fef > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdca616ff5bec {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdca616ff5bec > .orig {
    user-select: none;
    pointer-events: none;
}
.cdca616ff5bec > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce6e0ffeaae66 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce6e0ffeaae66 > .orig {
    user-select: none;
    pointer-events: none;
}
.ce6e0ffeaae66 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb8a6c5ffff32 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb8a6c5ffff32 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb8a6c5ffff32 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c446bf9e80059 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c446bf9e80059 > .orig {
    user-select: none;
    pointer-events: none;
}
.c446bf9e80059 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdc72879c03c6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdc72879c03c6 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdc72879c03c6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf147ba969e6f {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf147ba969e6f > .orig {
    user-select: none;
    pointer-events: none;
}
.cf147ba969e6f > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}