
.c3dec33de92a8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c3dec33de92a8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c3dec33de92a8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ca8e7fd3e2dfe {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ca8e7fd3e2dfe > .orig {
    user-select: none;
    pointer-events: none;
}
.ca8e7fd3e2dfe > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0c44d880f77b {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0c44d880f77b > .orig {
    user-select: none;
    pointer-events: none;
}
.c0c44d880f77b > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c7d72629f4ef8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c7d72629f4ef8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c7d72629f4ef8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd03f8489d69d {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd03f8489d69d > .orig {
    user-select: none;
    pointer-events: none;
}
.cd03f8489d69d > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c210614178a63 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c210614178a63 > .orig {
    user-select: none;
    pointer-events: none;
}
.c210614178a63 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb6c8d567023a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb6c8d567023a > .orig {
    user-select: none;
    pointer-events: none;
}
.cb6c8d567023a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1424e80850f9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1424e80850f9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1424e80850f9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdc1f3c4a29d1 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdc1f3c4a29d1 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdc1f3c4a29d1 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2914c9301ae8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2914c9301ae8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c2914c9301ae8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5d16efc81077 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5d16efc81077 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5d16efc81077 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc6bab2ccf0e7 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc6bab2ccf0e7 > .orig {
    user-select: none;
    pointer-events: none;
}
.cc6bab2ccf0e7 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}