
.cc09a72248122 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc09a72248122 > .orig {
    user-select: none;
    pointer-events: none;
}
.cc09a72248122 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1b3a7f4d22d7 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1b3a7f4d22d7 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1b3a7f4d22d7 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cbe6cbb116b5e {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cbe6cbb116b5e > .orig {
    user-select: none;
    pointer-events: none;
}
.cbe6cbb116b5e > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c57bfa2907178 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c57bfa2907178 > .orig {
    user-select: none;
    pointer-events: none;
}
.c57bfa2907178 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd1a9a86fa7d6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd1a9a86fa7d6 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd1a9a86fa7d6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce35a1af278f8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce35a1af278f8 > .orig {
    user-select: none;
    pointer-events: none;
}
.ce35a1af278f8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ca743ecfd0c8c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ca743ecfd0c8c > .orig {
    user-select: none;
    pointer-events: none;
}
.ca743ecfd0c8c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce5ee9f000f01 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce5ee9f000f01 > .orig {
    user-select: none;
    pointer-events: none;
}
.ce5ee9f000f01 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c44b147f40c10 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c44b147f40c10 > .orig {
    user-select: none;
    pointer-events: none;
}
.c44b147f40c10 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cea227cfa0d60 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cea227cfa0d60 > .orig {
    user-select: none;
    pointer-events: none;
}
.cea227cfa0d60 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cffe812acf619 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cffe812acf619 > .orig {
    user-select: none;
    pointer-events: none;
}
.cffe812acf619 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2633f0a20105 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2633f0a20105 > .orig {
    user-select: none;
    pointer-events: none;
}
.c2633f0a20105 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}