
.c1605b0f390d9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1605b0f390d9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1605b0f390d9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdef06d6b0572 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdef06d6b0572 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdef06d6b0572 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5d06d7dc2679 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5d06d7dc2679 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5d06d7dc2679 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c6aae6e463682 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c6aae6e463682 > .orig {
    user-select: none;
    pointer-events: none;
}
.c6aae6e463682 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdd9da32553f0 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdd9da32553f0 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdd9da32553f0 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c6533a43529f4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c6533a43529f4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c6533a43529f4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0f79273085ad {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0f79273085ad > .orig {
    user-select: none;
    pointer-events: none;
}
.c0f79273085ad > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c9ac8c8b45cde {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c9ac8c8b45cde > .orig {
    user-select: none;
    pointer-events: none;
}
.c9ac8c8b45cde > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0daf556458cd {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0daf556458cd > .orig {
    user-select: none;
    pointer-events: none;
}
.c0daf556458cd > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdafb940fb94e {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdafb940fb94e > .orig {
    user-select: none;
    pointer-events: none;
}
.cdafb940fb94e > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ccb18dd82b9a2 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ccb18dd82b9a2 > .orig {
    user-select: none;
    pointer-events: none;
}
.ccb18dd82b9a2 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c7638b2074959 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c7638b2074959 > .orig {
    user-select: none;
    pointer-events: none;
}
.c7638b2074959 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}