
.c4da6b9ba22f8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c4da6b9ba22f8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c4da6b9ba22f8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0ab4a546200c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0ab4a546200c > .orig {
    user-select: none;
    pointer-events: none;
}
.c0ab4a546200c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c26029704c297 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c26029704c297 > .orig {
    user-select: none;
    pointer-events: none;
}
.c26029704c297 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1e8aa386ea00 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1e8aa386ea00 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1e8aa386ea00 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd2864e7d78a2 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd2864e7d78a2 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd2864e7d78a2 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdaa656c58755 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdaa656c58755 > .orig {
    user-select: none;
    pointer-events: none;
}
.cdaa656c58755 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c7e77ecc9e6a2 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c7e77ecc9e6a2 > .orig {
    user-select: none;
    pointer-events: none;
}
.c7e77ecc9e6a2 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cdc4df7c6966c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cdc4df7c6966c > .orig {
    user-select: none;
    pointer-events: none;
}
.cdc4df7c6966c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ced029a29c0b3 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ced029a29c0b3 > .orig {
    user-select: none;
    pointer-events: none;
}
.ced029a29c0b3 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cffda97206dcb {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cffda97206dcb > .orig {
    user-select: none;
    pointer-events: none;
}
.cffda97206dcb > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cf6a67507c50a {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cf6a67507c50a > .orig {
    user-select: none;
    pointer-events: none;
}
.cf6a67507c50a > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd60f3ae4f845 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd60f3ae4f845 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd60f3ae4f845 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}