
.ca947e21410cc {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ca947e21410cc > .orig {
    user-select: none;
    pointer-events: none;
}
.ca947e21410cc > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5a5fafcadf69 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5a5fafcadf69 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5a5fafcadf69 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd6ad09301a32 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd6ad09301a32 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd6ad09301a32 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb4e609bc18d4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb4e609bc18d4 > .orig {
    user-select: none;
    pointer-events: none;
}
.cb4e609bc18d4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd0ba388f261c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd0ba388f261c > .orig {
    user-select: none;
    pointer-events: none;
}
.cd0ba388f261c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c222d6c0df21e {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c222d6c0df21e > .orig {
    user-select: none;
    pointer-events: none;
}
.c222d6c0df21e > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd3c1a5b34189 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd3c1a5b34189 > .orig {
    user-select: none;
    pointer-events: none;
}
.cd3c1a5b34189 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c0440a4089020 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c0440a4089020 > .orig {
    user-select: none;
    pointer-events: none;
}
.c0440a4089020 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c9ff055dcc057 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c9ff055dcc057 > .orig {
    user-select: none;
    pointer-events: none;
}
.c9ff055dcc057 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c2760f4c6fee9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c2760f4c6fee9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c2760f4c6fee9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c9ac39c06f469 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c9ac39c06f469 > .orig {
    user-select: none;
    pointer-events: none;
}
.c9ac39c06f469 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c73d9e68555a4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c73d9e68555a4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c73d9e68555a4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}