
.c1d915945b9f9 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1d915945b9f9 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1d915945b9f9 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c73b14f7f5cc8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c73b14f7f5cc8 > .orig {
    user-select: none;
    pointer-events: none;
}
.c73b14f7f5cc8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c1e17f0b64726 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c1e17f0b64726 > .orig {
    user-select: none;
    pointer-events: none;
}
.c1e17f0b64726 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cd92403bed93f {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cd92403bed93f > .orig {
    user-select: none;
    pointer-events: none;
}
.cd92403bed93f > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ccfbf7c8d60c6 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ccfbf7c8d60c6 > .orig {
    user-select: none;
    pointer-events: none;
}
.ccfbf7c8d60c6 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c36132f5e8f92 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c36132f5e8f92 > .orig {
    user-select: none;
    pointer-events: none;
}
.c36132f5e8f92 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.caf520b3da337 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.caf520b3da337 > .orig {
    user-select: none;
    pointer-events: none;
}
.caf520b3da337 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c5b831895cff4 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c5b831895cff4 > .orig {
    user-select: none;
    pointer-events: none;
}
.c5b831895cff4 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.ce0b41a8c0ad8 {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.ce0b41a8c0ad8 > .orig {
    user-select: none;
    pointer-events: none;
}
.ce0b41a8c0ad8 > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cc7c3381c36bf {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cc7c3381c36bf > .orig {
    user-select: none;
    pointer-events: none;
}
.cc7c3381c36bf > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.c260470edbe2c {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.c260470edbe2c > .orig {
    user-select: none;
    pointer-events: none;
}
.c260470edbe2c > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}

.cb90b96ec0f1d {
    position: relative;
    display: inline;
    font: inherit;
    line-height: inherit;
    vertical-align: baseline;
    color: inherit;
}
.cb90b96ec0f1d > .orig {
    user-select: none;
    pointer-events: none;
}
.cb90b96ec0f1d > .r {
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
}